//- PUT ANY INLINE MIXINS HERE

// START HTML
doctype
html
	- var pagetitle = 'Ryan Bucinell - PAGE TITLE'
	include ./head.jade
	include ./mixins/header-helper.jade
	body
		-
			breadcrumbs = [
							{fa:"fa-home", text:"Home", url:"index.html"},
							{fa:"fa-cogs", text:"Category" }, //- If in sub-category, add as many directories as neeeded, add url:"xyz" if needed
							{fa:"fa-image", text:"Page"} //- last one won't have any url, so don't bother
						];
		+pageheader( 'ARTICLE HEADER', 'ARTICLE MINOR HEADER', breadcrumbs)		
			//- CONTENT START
			
			//- CONTENT END
		include ./scripts-footer.jade
