meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
meta(name="author", content="Ryan Bucinell")
meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
meta(name="description", content="A theme for faculty profile page")
meta(name="keywords", content="factulty profile, ronlad bucinell, union")

link( rel="shortcut icon", href="img/favicon.ico")

link( rel="stylesheet", href="css/bootstrap.css")
link( rel="stylesheet", href="css/font-awesome.css")
link( rel="stylesheet", href="css/academicons.css")
link( rel="stylesheet", href="css/style.css")
link( rel="stylesheet", href="css/bootstrap.override.css")

script( type="text/javascript", src="js/jquery-2.2.2.js")
script( type="text/javascript", src="js/bootstrap.min.js")
script( type="text/javascript", src="js/perfect-scrollbar-0.4.5.with-mousewheel.min.js")
script( type="text/javascript", src="js/TweenMax.min.js")
script( type="text/javascript", src="js/picture-rotate.js")
script( type="text/javascript", src="js/handlebars-v4.0.5.js")
