script( type="text/javascript", src="js/nav.js")
#sidebar
    a.mobilemenu(href="#sidebar"): i.fa.fa-bars
    #main-nav
        #nav-container
            #profile.clearfix
                .portrate.hidden-xs
                .title
                    h2 Ronald B. Bucinell, Ph.D., P.E.
                    h3 Union College
            nav
                ul#navigation
                    li.navitem: a(href="#"): .text Homepage        
                        ul.subnav
                            li.linkitem: a(href="index.html"): div.text Homepage
                            li.linkitem: a(href="http://union.edu"): div.text Union College
                            li.linkitem: a(href="#"): div.text ME Department
                            li.linkitem: a(href="downloads.html"): div.text Downloads                                    
                    li.navitem: a(href="#"): .text Education & Experience
                        ul.subnav
                            li.linkitem: a(href="#"): div.text Education
                            li.linkitem: a(href="#"): div.text Funding History
                            li.linkitem: a(href="#"): div.text Experience
                            li.linkitem: a(href="#"): div.text Activities  
                    li.navitem: a(href="#"): .text Course Listing
                        ul.subnav
                            li.linkitem: a(href="#"): div.text Course Links
                            li.linkitem: a(href="#"): div.text Videos
                    li.navitem: a(href="#"): .text Sudent Collaborations
                        ul.subnav
                            li.linkitem: a(href="#"): div.text Resources
                            li.linkitem: a(href="#"): div.text Senior Projects
                            li.linkitem: a(href="#"): div.text Summer Fellowship
                            li.linkitem: a(href="#"): div.text Steinmetz Symposium
                            li.linkitem: a(href="#"): div.text NCUR
                            li.linkitem: a(href="#"): div.text Other Forums
                            li.linkitem: a(href="#"): div.text Scholars Soph Project
                            li.linkitem: a(href="#"): div.text Masters and Outside 
                    li.navitem: a(href="#"): .text Publications
                        ul.subnav
                            li.linkitem: a(href="#"): div.text Publications
                            li.linkitem: a(href="#"): div.text Select Reports
                            li.linkitem: a(href="#"): div.text Select Presentations
                            li.linkitem: a(href="#"): div.text Addresses/Speeches
                            li.linkitem: a(href="#"): div.text In The News  
                    
                    li.navitem: a(href="#"): .text Lab
                        ul.subnav
                            li.linkitem: a(href="#"): div.text Engineering Mechanics
                            li.linkitem: a(href="#"): div.text Composite Mfg
                            li.linkitem: a(href="#"): div.text Projects
                    li.linkiten: a(href="#contact"): .text Contact
    .social-icons
        ul
            li: a(href="/data/PE_Ronald_B_Bucinell_PhD.msg"): i.fa.fa-envelope-o
            li: a(href="https://www.linkedin.com/pub/ronald-bucinell/15/772/5a4"): i.fa.fa-linkedin
            li: a(href="http://www.researchgate.net/profile/Ronald_Bucinell"): i.ai.ai-researchgate
