script( type="text/javascript", src="js/nav.js")

mixin navMenuItem( divclass, display, url )
    li(class="#{divclass}")
        a(href="#{url}")
            div.text #{display}
                block
#sidebar
    a.mobilemenu(href="#sidebar"): i.fa.fa-bars
    #main-nav
        #nav-container
            #profile.clearfix
                .portrate.hidden-xs
                .title
                    h2 Ronald B. Bucinell, Ph.D., P.E.
                    h3 Union College
            nav
                ul#navigation
                    +navMenuItem('navitem','Homepage','#')
                        ul.subnav
                            +navMenuItem('linkitem','Homepage', "index.html")
                            +navMenuItem('linkitem','Union College', "http://union.edu")
                            +navMenuItem('linkitem','ME Department', "http://muse.union.edu/me/")
                            +navMenuItem('linkitem','Downloads', "downloads.html")  
                    +navMenuItem('navitem','Education & Experience', "#")
                        ul.subnav
                            +navMenuItem('linkitem','Education', "education.html")
                            +navMenuItem('linkitem','Funding History', "funding.html")
                            +navMenuItem('linkitem','Experience', "experience.html")
                            +navMenuItem('linkitem','Activities', "activities.html")
                    +navMenuItem('navitem','Course Listing','#')
                        ul.subnav
                            +navMenuItem('linkitem','Course Links', "courselisting.html")
                            +navMenuItem('linkitem','Videos', "video.html")
                    +navMenuItem('navitem','Sudent Collaborations','#')
                        ul.subnav
                            +navMenuItem('linkitem','Resources', "resources.html")
                            +navMenuItem('linkitem','Senior Projects', "seniormasters.html")
                            +navMenuItem('linkitem','Summer Fellowship', "summerfellowship.html")
                            +navMenuItem('linkitem','Steinmetz Symposium', "steinmetz.html")
                            +navMenuItem('linkitem','NCUR', "ncur.html")
                            +navMenuItem('linkitem','Other Forums', "otherforum.html")
                            +navMenuItem('linkitem','Scholars Soph Project', "unionscholars.html")
                            +navMenuItem('linkitem','Masters and Outside', "masterandoutside.html") 
                    +navMenuItem('navitem','Publications','#')
                        ul.subnav
                            +navMenuItem('linkitem','Publications', "bucpub.html")
                            +navMenuItem('linkitem','Select Reports', "selectreports.html")
                            +navMenuItem('linkitem','Select Presentations', "selectpresentations.html")
                            +navMenuItem('linkitem','Addresses/Speeches', "bucaddress.html")
                            +navMenuItem('linkitem','In The News', "bucNews.html") 
                    +navMenuItem('navitem','Lab','#')                   
                    li.navitem: a(href="#"): .text Lab
                        ul.subnav
                            +navMenuItem('linkitem','Engineering Mechanics', "mechengineerlab.html")
                            +navMenuItem('linkitem','Composite Mfg', "compositelab.html")
                            +navMenuItem('linkitem','Projects', "labprojects.html")
                    +navMenuItem('navitem','Contact','contact.html')
    .social-icons
        ul
            li: a(href="/data/PE_Ronald_B_Bucinell_PhD.msg"): i.fa.fa-envelope-o
            li: a(href="https://www.linkedin.com/pub/ronald-bucinell/15/772/5a4"): i.fa.fa-linkedin
            li: a(href="http://www.researchgate.net/profile/Ronald_Bucinell"): i.ai.ai-researchgate
