script( type="text/javascript", src="js/nav.js")
#sidebar
    a.mobilemenu(href="#sidebar"): i.fa.fa-bars
    #main-nav
        #nav-container
            #profile.clearfix
                .portrate.hidden-xs
                .title
                    h2 Ronald B. Bucinell, Ph.D., P.E.
                    h3 Union College
            nav
                ul#navigation
                    li.navitem: a(href="#"): .text Homepage        
                        ul.subnav
                            li.linkitem: a(href="index.html"): div.text Homepage
                            li.linkitem: a(href="http://union.edu"): div.text Union College
                            li.linkitem: a(href="http://me.union.edu/facultyandstaff.html"): div.text ME Department
                            li.linkitem: a(href="downloads.html"): div.text Downloads                                    
                    li.navitem: a(href="#"): .text Education & Experience
                        ul.subnav
                            li.linkitem: a(href="education.html"): div.text Education
                            li.linkitem: a(href="funding.html"): div.text Funding History
                            li.linkitem: a(href="experience.html"): div.text Experience
                            li.linkitem: a(href="activities.html"): div.text Activities  
                    li.navitem: a(href="#"): .text Course Listing
                        ul.subnav
                            li.linkitem: a(href="courselisting.html"): div.text Course Links
                            li.linkitem: a(href="video.html"): div.text Videos
                    li.navitem: a(href="#"): .text Sudent Collaborations
                        ul.subnav
                            li.linkitem: a(href="resources.html"): div.text Resources
                            li.linkitem: a(href="seniormasters.html"): div.text Senior Projects
                            li.linkitem: a(href="summerfellowship.html"): div.text Summer Fellowship
                            li.linkitem: a(href="steinmetz.html"): div.text Steinmetz Symposium
                            li.linkitem: a(href="ncur.html"): div.text NCUR
                            li.linkitem: a(href="otherforum.html"): div.text Other Forums
                            li.linkitem: a(href="unionscholars.html"): div.text Scholars Soph Project
                            li.linkitem: a(href="masterandoutside.html"): div.text Masters and Outside 
                    li.navitem: a(href="#"): .text Publications
                        ul.subnav
                            li.linkitem: a(href="bucpub.html"): div.text Publications
                            li.linkitem: a(href="selectreports.html"): div.text Select Reports
                            li.linkitem: a(href="selectpresentations.html"): div.text Select Presentations
                            li.linkitem: a(href="bucaddress.html"): div.text Addresses/Speeches
                            li.linkitem: a(href="bucNews.html"): div.text In The News  
                    
                    li.navitem: a(href="#"): .text Lab
                        ul.subnav
                            li.linkitem: a(href="mechengineerlab.html"): div.text Engineering Mechanics
                            li.linkitem: a(href="compositelab.html"): div.text Composite Mfg
                            li.linkitem: a(href="labprojects.html"): div.text Projects
                    li.linkiten: a(href="contact.html"): .text Contact
    .social-icons
        ul
            li: a(href="/data/PE_Ronald_B_Bucinell_PhD.msg"): i.fa.fa-envelope-o
            li: a(href="https://www.linkedin.com/pub/ronald-bucinell/15/772/5a4"): i.fa.fa-linkedin
            li: a(href="http://www.researchgate.net/profile/Ronald_Bucinell"): i.ai.ai-researchgate
