head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="author", content="Ryan Bucinell")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="description", content="Ronald Bucinell's Professional Website")
    meta(name="keywords", content="factulty, professor, profile, ronlad bucinell, union, union college, mechanical, engineering, #{pageName}")

    meta(property='og:site_name' content='rbb.union.edu')
    meta(property='og:title' content='Ronald B. Bucinell Ph.D., P.E')
    meta(property='og:description' content="Ronald B. Bucinell's Professional Website")
    meta(property='og:type' content='website')
    meta(property='og:image' content='img/portrait.jpg')
    meta(property='og:locale' content='en_US')
    meta(name='twitter:card' content='summary')
    meta(name='twitter:title' content='Ronald B. Bucinell Ph.D., P.E')
    meta(name='twitter:description' content="Ronald B. Bucinell's Professional Website")
    meta(name='twitter:image' content='img/portrait.jpg')
    meta(name='twitter:image:alt' content="Ronald's Portrait")

    link( rel="shortcut icon", href="img/favicon.ico")
    
    link( rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css", integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu", crossorigin="anonymous")
    link( rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css", integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ", crossorigin="anonymous")
    link( rel="stylesheet", href="./css/lib.min.css")
    link( rel="stylesheet", href="./css/style.min.css")

    //-link( rel="stylesheet", href="css/bootstrap.css")
    //-link( rel="stylesheet", href="css/font-awesome.css")
    //-link( rel="stylesheet", href="css/academicons.css")
    //-link( rel="stylesheet", href="css/style.css")
    //-link( rel="stylesheet", href="css/bootstrap.override.css")

    //-script( type="text/javascript", src="js/xmltransforms.js")
    //-script( type="text/javascript", src="js/jquery-2.2.2.js")
    //-script( type="text/javascript", src="js/bootstrap.min.js")
    //-script( type="text/javascript", src="js/perfect-scrollbar-0.4.5.with-mousewheel.min.js")
    //-script( type="text/javascript", src="js/TweenMax.min.js")
    //-script( type="text/javascript", src="js/picture-rotate.js")
    //-script( type="text/javascript", src="js/handlebars-v4.0.5.js")
