script( src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous")

script( type="text/javascript", src="/js/lib.min.js")
script( type="text/javascript", src="/js/rbb.min.js")

script.
    const event = new Event( 'DadContentLoaded' );
    /**
    * String helper function to see if input string 'str' ends with the string 'suffix'
    **/
    const endsWith = (str, suffix) => str.indexOf(suffix, str.length - suffix.length) !== -1;

    /**
    *   Function to format the html list after it is loaded
    **/
    function formatListGroup(headerText) {
        let listOfLI = [...document.querySelectorAll(`.list-group > li`)];
        console.log(listOfLI)
        listOfLI.forEach( n => n.classList +='list-group-item')
        document.querySelector( 'header > h1' ).innerText = `${headerText} (${listOfLI.length})`;
    }
    
    /**
    *  On DOM LOAD fetch the respective content file to populate the page
    **/
    document.addEventListener('DOMContentLoaded', async ()=> {

        let contentPath =  `content/${window.location.pathname.split('/').pop()}`;
        let response = await fetch(contentPath);
        if( response.status === 404)
        {
            response = await fetch(`/data/404.html`);
        }
        else {
            let updateDate = new Date(response.headers.get('Last-Modified')).toDateString();
            document.querySelector('.updated').innerText = `Updated: ${updateDate}`;
        }
        let data = await response.text();
        document.querySelector('#dadcontent').innerHTML = data;
        document.dispatchEvent( event );
    });