@import '../styles/global.css';

@layer utilities {
    table {
        @apply border border-collapse rounded border-garnet;
    }

    thead {
        @apply bg-rbb-gray-200 text-garnet dark:bg-rbb-gray-900 dark:prose-headings:text-white;
    }
    thead > tr >th {
        @apply prose-headings:text-garnet font-bold;
    }
    tbody > tr:nth-child(even) {
        @apply bg-rbb-gray-100 text-black;
    }
    tbody > tr:nth-child(odd) {
        @apply bg-rbb-gray-300 text-black;
    }
}

th, td {
	padding: 0.5em;
}

th {
	@apply text-garnet font-bold dark:text-garnet-500
}

@layer utilities {
    .list {
        & :where(.list-row) {
            padding: calc(0.2rem * 4) calc(0.1rem * 4);
        }
    }
}

.doc-link::before {
    content: "📄";
    margin-right: 4px;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
}