extends partials/layout.pug
block config
    - const [menu,name] = ['Student Collaborations', 'Sophomore Scholars Projects']
block scripts 
    script.
        document.addEventListener('DadContentLoaded', ()=> formatListGroup('Sophomore Scholars Projects'));