meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
meta(name="author", content="Ryan Bucinell")
meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
meta(name="description", content="Profile for Ronald Bucinell")
meta(name="keywords", content="factulty profile, ronlad bucinell, union college, mechanical engineering")

link( rel="shortcut icon", href="img/favicon.ico")

link( rel="stylesheet", type="text/css", href="css/styles.min.css")
link( rel="stylesheet", type="text/css", href="css/rbb.css")

script( type="text/javascript", src="js/scripts.min.js")
