:root{
	/*Primary Palette*/
	--union-red: #923338; 
	--union-garnet: #822438;
	--union-stone: #b3b38c;
	--union-light-stone: #e4e2d2;
	--union-gray: #6c6f70;
	/*Secondary Palette*/
	--union-gold: #D7941D;	
	--union-metallic-gold: #85714D;
	--union-navy: #003261;
	--union-blue: #237FA4;
	--union-blue-light: #5ABCE1;
	--union-green: #5C8827;	
	--union-green-light: #AEBC21;
	--union-orange: #F58F20;
	--union-orange-light: #FCB54D;

	/*RBB Colors*/
	--rbb-black: #111;
	--rbb-dark-gray: #2b2b2b;
	--rbb-gray: #333;
	--rbb-light-gray: #303030;
	--rbb-light-gray-hover: #363636;
	--rbb-lightest-gray: #aaa;
	--rbb-white: #f7f7f7;
}

.text-garnet {
	color: var(--union-garnet );
}
.bg-garnet {
	background-color: var(--union-red);
}
.text-stone {
	color: var(--union-stone );
}
.bg-stone {
	background-color: var(--union-light-stone);
}
.text-black {
	color: var( --rbb-black );
}
.bg-black {
	background-color: var(--rbb-black);
}
.bg-gray {
	background-color: var(--union-gray);
}
.panel-gray
{
	color: var(--rbb-gray);
	background-color: var(--rbb-lightest-gray);
	border-color: var(--union-gray);
}

.btn-remove {
    background-color: var(--union-garnet);
    color: var(--union-stone);
}
.btn-add {
    background-color: green;
    color: var(--rbb-white);
}


/* General styles
 **************************************************/
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: local('Lato Black'), local('Lato-Black'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/BVtM30trf7q_jfqYeHfjtA.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src: local('Lato Italic'), local('Lato-Italic'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/oUan5VrEkpzIazlUe5ieaA.woff) format('woff');
}

/* Document Styles
*************************************/

body {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	background: url(../img/dark_gray_tile.jpg);
	color: var(--rbb-dark-gray);
}

a{
	color: var(--union-red);
}

a:visited
{
	color: var(--union-garnet);
}
a:hover
{
	color: var(--rbb-black);
}
a,a:hover,a:focus {
	text-decoration: none;
	outline: 0;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-weight: 300;
}
/* mobile menu
 **************************************************/
.mobilemenu {
	position: fixed;
	top: 0px;
	left: 0;
	right: 0;
	z-index: 1002;
	font-size: 30px;
	padding: 2px 10px;
	background: var(--rbb-dark-gray);
	display: block;
	width: 50px;
	height: 50px;
	color: #fff;
	display: none;
}

.mobilemenu:hover,.mobilemenu:focus {
	color: #fff;
}

/* layout
 **************************************************/
#main-nav {
	text-align: left;
	vertical-align: top;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 250px;
	background: var(--rbb-dark-gray);
	position: absolute;
	left: 0;
	top: 0;
	bottom: 45px;
	overflow: hidden;
}

#main {
	position: absolute;
	left: 250px;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(../img/white_noise.jpg);
	overflow: hidden;
	overflow-y: scroll;
	padding: 0 1em;
	margin: 0 auto 20px auto;
	width: 80vw;
	max-width: 1500px;
	height: 100%;
}

.page {
	overflow: auto;
	position: absolute;
	top: 0;
	left: 2000px;
	bottom: 0;
	width: 85%;
	background-color: var(--rbb-white);
}

.home {
	left: 0px;
	z-index: 0;
	width: 100%;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0px;
	bottom: 0;
	right: 0px;
	background-color: var(--rbb-black);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	opacity: 0.25;
	display: none;
	z-index: 300;
	cursor: crosshair;
	cursor: url(../img/pointer.png), auto;
}

#runner {
	position: absolute;
	width: 30px;
	height: 20px;
	color: var(--rbb-white);
	font-size: 20px;
	z-index: 2000;
}

.currentpage {
	-webkit-box-shadow: -2px 0 4px -2px rgba(0,0,0,.25);
	box-shadow: -2px 0 4px -2px rgba(0,0,0,.25);
}

/* sidebar
 **************************************************/
#nav-container {
	position: relative;
	padding-bottom: 75px;
	bottom: 0;
	height: 100%;
}

#profile {
	text-align: center;
	padding: 30px 10px;
	position: relative;
}

#profile .portrate {
	background-image: url(../img/portrait.jpg);
	width: 225px;
	margin: 0 auto;
	height: 225px;
	border-radius: 5%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#profile .title h2 {
	font-size: 28px;
	font-weight: 300;
	color: #fff;
	margin: 20px 0 10px 0;
}

#profile .title h3 {
	font-size: 18px;
	font-weight: 300;
	color: #aaa;
	margin: 0px 0 10px 0;
}

.navigation {
	padding: 0;
	margin: 0;
}

.navigation li {
	display: block;
	float: none;
	clear: both;
	background: var(--rbb-gray);
	border-top: 1px solid var(--rbb-gray);
	border-bottom: 1px solid var(--rbb-dark-gray);
	transition: background-color 0.5s linear;
}

.navigation li a {
	color: var(--rbb-white);
	font-size: 14px;
}
.navigation li .subnav li a :hover{
	background-color: var(--union-garnet);
}

.navigation li:hover,.navigation li:focus {
	background: var(--rbb-gray);
}

.navigation li:hover a,
.navigation li:focus a {
	color: var(--rbb-white);
	background: var(--rbb-light-gray-hover);
}

.navigation .currentmenu {
	font-weight: bold;
}

.navigation li .currentmenu a {
	color: var(--rbb-white);
}

.navigation li .currentmenu {
	background: #363636;
	border-top: 1px solid #3d3d3d;
	border-bottom: 1px solid #252525;
}

.navigation li .text {
	padding-left: 5%;
	/*margin-left: 50px;*/
	line-height: 35px;

	-webkit-box-shadow: -3px 0 5px -4px #000;
	box-shadow: -3px 0 5px -4px #000;
}

.navigation li a .text {
	padding-left: 5%;
	/*margin-left: 50px;*/
	line-height: 35px;

	-webkit-box-shadow: -3px 0 5px -4px #000;
	box-shadow: -3px 0 5px -4px #000;
}

.navigation li .icon {
	float: left;
	line-height: 45px;
	width: 50px;
	text-align: center;
	font-size: 27px;
}

.submenu {
	padding-left: 30px;
}

.social-icons {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #202020;
	border-top: 1px solid #1A1A1A;
	width: 250px;
	z-index: 2;
	height: 45px;
}

.social-icons ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.social-icons li {
	float: left;
	width: 33%;
	padding: 10px;
	text-align: center;
}

.social-icons a {
	color: #ccc;
}

.social-icons a:hover,.social-icons a:focus {
	color: var(--union-red);
}

.social-icons i {
	font-size: 20px;
}



/* Meida Queries
*************************************/
@media screen and (max-width: 900px) {
	ul.grid li {
		width: 50%;
	}
}

@media (max-width: 500px) {
	ul.timeline {
		margin: 0;
		border-left: none;
	}

	ul.timeline .circle {
		display: none;
	}

	ul.timeline .data {
		margin: 0 !important;
		margin-bottom: 10px !important;
		padding-top: 65px !important;
	}

	ul.timeline .date {
		margin-left: 0 !important;
	}
}

@media screen and (max-width: 400px) {
	ul.grid li {
		width: 100%;
	}
	.navigation .text{
		line-height: 30px !important;
	}
}

@media (max-width: 991px) {
	.mobilemenu {
		display: block;
	}

	.social-icons,#main-nav {
		left: -250px;
		z-index: 3;
	}

	#main {
		left: 0;
	}
}
