:root{
	/*Primary Palette*/
	--union-red: #923338; 
	--union-garnet: #822438;
	--union-stone: #b3b38c;
	--union-light-stone: #e4e2d2;
	--union-gray: #6c6f70;
	--union-white: #eeeeee;

	/*Secondary Palette*/
	--union-gold: #D7941D;	
	--union-metallic-gold: #85714D;
	--union-navy: #003261;
	--union-blue: #237FA4;
	--union-blue-light: #5ABCE1;
	--union-green: #5C8827;	
	--union-green-light: #AEBC21;
	--union-orange: #F58F20;
	--union-orange-light: #FCB54D;

	/*RBB Colors*/
	--rbb-black: #111;
	--rbb-dark-gray: #2b2b2b;
	--rbb-gray: #484848;
	--rbb-light-gray: #303030;
	--rbb-light-gray-hover: #363636;
	--rbb-lightest-gray: #aaa;
	--rbb-white: #f7f7f7;
}

.text-garnet {
	color: var(--union-garnet );
}
.bg-garnet {
	background-color: var(--union-red);
}
.text-stone {
	color: var(--union-stone );
}
.bg-stone {
	background-color: var(--union-light-stone);
}
.text-black {
	color: var( --rbb-black );
}
.bg-black {
	background-color: var(--rbb-black);
}
.bg-gray {
	background-color: var(--union-gray);
}
.panel-gray
{
	color: var(--rbb-gray);
	background-color: var(--rbb-lightest-gray);
	border-color: var(--union-gray);
}

.btn-remove {
    background-color: var(--union-garnet);
    color: var(--union-stone);
}
.btn-add {
    background-color: green;
    color: var(--rbb-white);
}

/************************************
* General styles
*************************************/

 @font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: local('Lato Black'), local('Lato-Black'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/BVtM30trf7q_jfqYeHfjtA.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src: local('Lato Italic'), local('Lato-Italic'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/oUan5VrEkpzIazlUe5ieaA.woff) format('woff');
}

/************************************
* Document Styles
*************************************/
body {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	background: url(../img/dark_gray_tile.jpg);
	color: var(--rbb-dark-gray);
}

main {
    min-height: 80vh;
	color: var(--rbb-gray);
}

#profile {
	border-bottom: 1px outset var(--union-light-stone);
}

#profile a, a:visited {
	color: var(--union-garnet);
}


#profile img {
	background-image: url(../img/portrait.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	object-fit: cover;
}

a{
	color: var(--union-red);
}

a:visited
{
	color: var(--union-garnet);
}
a:hover
{
	color: var(--rbb-black);
}
a,a:hover,a:focus {
	text-decoration: none;
	outline: 0;
}

#nav-aside {
	color: var(--rbb-white);
	background: var(--rbb-dark-gray);
	z-index: 100;
	padding-left: .75em;
}

#nav-aside ul {
	background: var(--rbb-dark-gray);
}

#main {
	background: url(../img/white_noise.jpg);
	z-index: 10;
	width: 1200px;
	max-width: 1200px;
}

#main header {
	border-bottom: 1px solid var(--union-garnet);
	background: url(../img/white_noise.jpg);
}

.card {
	background-color: var(--union-white);
}

.list-group-item {
	background-color: transparent;
	border: 1px solid var(--union-garnet);
	background-color: var(--union-white);
}
.list-group-item.disabled, .list-group-item:disabled {
	background-color: var(--union-white);
}

.page-link {
	color: var(--union-garnet);
}
.page-link:hover {
	color: var(--union-navy);
}

table thead {
	background-color: var(--rbb-lightest-gray);
}

/************************************
* Navigation
*************************************/
.navigation a {
	cursor: pointer;
}


.social-icons {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #202020;
	border-top: 1px solid #1A1A1A;
	z-index: 2;
} 

.social-icons span a i {
	font-size: 20px;
	color: var(--rbb-white);
}

.social-icons span a i:hover {
	font-size: 20px;
	color: var(--union-garnet);	
}

#navtogglebutton {
	position: absolute;
	top: -2em;
	left: 0;

}

/************************************
* Page Styels
*************************************/

.border-garnet {
	border-color: var(--union-garnet) !important;
}
.border-stone {
	border-color: var(--union-stone) !important;
}


.list-grid {
	display: grid;
	grid-gap: 0;
}

.grid-cols-1 {
	grid-template-columns: repeat(1, 1fr);
}
.grid-cols-2 {
	grid-template-columns: repeat(2, 1fr);
}
.grid-cols-3 {
	grid-template-columns: repeat(3, 1fr);
}
.grid-cols-4 {
	grid-template-columns: repeat(4, 1fr);
}
.grid-cols-5 {
	grid-template-columns: repeat(5, 1fr);
}
/************************************
* Media Queries
*************************************/
@media( min-width: 768px)
{
	#nav-aside {
		max-width: 250px;
	}
}