//- Bootstrap Core JavaScript
script( src="js/bootstrap.min.js")

//- High Charts - http://www.highcharts.com/
script( src="http://code.highcharts.com/highcharts.js")
script( src="http://code.highcharts.com/highcharts-3d.js")
script( src="http://code.highcharts.com/modules/exporting.js")

script.
	function generateTransformData( xmlSrc, transformSrc, outputId )
	{
		var xml = loadXMLDoc(xmlSrc);
		var xsl = loadXMLDoc(transformSrc);
		
		//If running IE
		if( window.ActiveXObject || xhttp.responseType == "msxml-document" )
		{
			ex = xml.transformNode(xsl);
			document.getElementById(outputId).innerHTML = ex;
		}
		
		//Running other Major browsers
		else if( document.implementation && document.implementation.createDocument)
		{
			xsltProcessor = new XSLTProcessor();
			xsltProcessor.importStylesheet( xsl );
			resultDocument = xsltProcessor.transformToFragment( xml, document );
			document.getElementById(outputId).appendChild(resultDocument);		
		}
	}

	function loadXMLDoc(filename)
	{
		if (window.XMLHttpRequest)
		{
			xhttp = new XMLHttpRequest();
		}
		else // code for IE5 and IE6
		{
			xhttp=new ActiveXObject("Microsoft.XMLHTTP");
		}
		xhttp.open("GET",filename,false);
		xhttp.send();
		return xhttp.responseXML;
	}
	
