---
import BaseNav from './BaseNav.astro'
const { menu, name, course, courseName} = Astro.props;
---
<BaseNav>
    <script is:inline>
        document.addEventListener('DOMContentLoaded', async ()=> {
            await loadNavigation(`/courses/${course}/content/data/nav.xml`,'courseNavigation');
            document.querySelector('#mainNavigation').appendChild(htmlToElement(`<li><a class="nav-link px-2 text-white" href="/index.html">Home</a></li>`));
        });
    </script>
</BaseNav>
