---
import Socail from './socialicon.astro';
---
<div id="social-icons" class="py-1 flex justify-between mx-2">
    <Socail fa="fa-solid  fa-user" title="Outlook Contact Card" href="/content/data/PE_Ronald_B_Bucinell_PhD.zip" />
    <Socail fa="fa-brands fa-linkedin" title="LinkedIn Profile" href="https://www.linkedin.com/pub/ronald-bucinell/15/772/5a4" />
    <Socail fa="fa-brands fa-researchgate" title="Research Gate Profile" href="http://www.researchgate.net/profile/Ronald_Bucinell" />
    <Socail fa="fa-solid  fa-phone" title="Phone Number" href="tel:+1518886023" />
    <Socail fa="fa-solid  fa-envelope" title="Email" href="mailto:bucinelr@union.edu" />
</div>