---

---
<div class="title text-center pt-2 w-full flex flex-row flex-grow-1 flex-wrap justify-center">
    <div class="text-2xl text-accent">
        <a href="/"> Ronald B. Bucinell, Ph.D.,&nbsp;P.E. </a>
    </div>
    <div class="text-primary pl-2">Union College</div>
</div>